<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PracticalDB_DataSelectionQuery.Properties.Settings.CSE_DEPTConnectionString"
            connectionString="Data Source=DORIE-PC\SQLEXPRESS;Initial Catalog=CSE_DEPT;Persist Security Info=True;User ID=mike;Password=D1@logo7497"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>